/.DS_Store
/.vscode
/Meari
/MeariFinal
/MeariFinal2
/Weather & Location_files
/apache-tomcat-9.0.52
/design
/html
/icon
/javascript
/jspProjectDemo
/navi
/practicediv.html
/practicediv_2.html
/projectMeari
/projectMeari.html
/python_basic_202111.pdf
/servlet
/slider
/springLagacyProject
/springLagacyProjectTry2
/springLagacyProjectTry3
/springTestPjt
/springproject
/te
/teamprojectMeari
/teamprojectMeari2
/teamprojectMeari3
/teamprojectMeari4
/teamprojectMeari5
/teamprojectMeari6
/teamprojectMeari7